.searchBox {
    background: #f3f1f0 !important;
    height: 80px  !important;
    font-size: -webkit-xxx-large !important;
    padding-left: 20px !important;
}

.card-container {    
    background-color: #f8f9fa;
    padding: 20px;
}


@media(max-width: 500px) {
    .sidebar-col {
        min-width: 100%;
    }
}